<div class="panel panel-primary form-panel">
  <div class="panel-heading form-panel-heading">
    <h3 class="panel-title">Orders Placed</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Dish</th>
          <th>Delivery time</th>
          <th>Delivery date</th>
          <th>Customer phone</th>
          <th>Customer appartment</th>
          <th>Customer address</th>
          <th>Order status</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.restaurant.name %></td>
            <td><%= order.dish %></td>
            <td><%= order.delivery_time.strftime("%H:%M") %></td>
            <td><%= order.delivery_date %></td>
            <td><%= order.customer_phone %></td>
            <td><%= order.appartment %></td>
            <td><%= order.customer_address %></td>
            <td><%= best_in_place order, :order_status, type: :select, collection: ["Ordered", "In Progress", "Delivered", "Undeliverable"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
