<p id="notice"><%= notice %></p>
    <table class="table table-bordered show-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Address</th>
          <th>City</th>
          <th>Country</th>
          <th>Zip</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @restaurant.name %></td>
          <td><%= @restaurant.category %></td>
          <td><%= @restaurant.address %></td>
          <td><%= @restaurant.city %></td>
          <td><%= @restaurant.country %></td>
          <td><%= @restaurant.zip %></td>
        </tr>
      </tbody>
    </table>

<div class="pull-right">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
</div>
